/* MAIN */
.body-products {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    color: #333;
}

.header-products {
    background-color: #2196F3;
    padding: 20px;
    color: #FFF;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.nav a {
    color: #FFF;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.section {
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
}

.section h2 {
    color: #2196F3;
}

.section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.section li {
    flex: 1 1 300px;
    background-color: #FFF;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.section li img {
    max-width: 100%;
    height: auto;
}

.section li h3 {
    font-size: 18px;
    margin-top: 10px;
}

.section li p {
    font-size: 16px;
    margin-top: 10px;
    color: #2196F3;
}


/***************  TABELA *****************/
/* LISTA */
.product-list {
    font-family: Arial, sans-serif;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.th {
    text-align: left;
    background-color: #2196f3;
    color: #fff;
    padding:2px;
}