
.container{
    background-color: rgb(39, 39, 118);
    color: aliceblue;
}
button{
    width: 10rem;
    height: 5rem;
}
.tabela{
    margin: 10px;
    margin-top: 20px;
    background-color: rgb(108, 153, 124);
}